@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.Canvass {
  height: 40vh;
  width: 80vw;
  position: relative;
  left: 14rem;
  top: 1rem;
}

.canvas2 {
  height: 20vh;
  width: 40vw;
  position: relative;
  left: 1rem;
  top: -15rem;
}

.canvas3 {
  height: 20vh;
  width: 40vw;
  position: relative;
  left: 29rem;
  top: -22.5rem;
}

div {
  text-align: center;
}

.popup {
  position: absolute;
  
  color: rgb(115, 223, 223);
  padding: 8px 12px;
  border-radius: 5px;
  top: 100%;
  left: 21%;
  transform: translateX(-50%) translateY(10px);
  white-space: nowrap;
  font-size: 18px;
  font-family: 'Pacifico', cursive; /* Cute font */
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.popup.show {
  opacity: 1;
  transform: translateX(-50%) translateY(10px);
}

.popup1 {
  top: calc(60% + 10px);
  background-color: rgba(0, 0, 0, 0.8);

}

.popup2 {
  top: calc(60% + 1px);
  background-color: rgb(252, 86, 224);

}
